<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Natsu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Natsu.Properties.Settings.DatabaseDataEntryBPOConnectionString"
      connectionString="Data Source=10.10.10.248\BPOSERVER;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
      providerName="System.Data.SqlClient" />
    <add name="Natsu.Properties.Settings.NatsuConnectionString" connectionString="Data Source=10.10.10.248;Initial Catalog=Natsu;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
      providerName="System.Data.SqlClient" />
    <add name="Natsu.Properties.Settings.SokatuConnectionString"
      connectionString="Data Source=10.10.10.248;Initial Catalog=Sokatu;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Natsu.Properties.Settings>
      <setting name="ZoomImage" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="Zoom_Doc" serializeAs="String">
        <value>1400</value>
      </setting>
      <setting name="Zoom_Ngang" serializeAs="String">
        <value>1700</value>
      </setting>
      <setting name="LastSelectedFolder" serializeAs="String">
        <value />
      </setting>
    </Natsu.Properties.Settings>
  </userSettings>
</configuration>